*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    background-color: red;
}